---
---

@import "{{ site.theme }}";

header .view, footer {
    display: none;
}
a:hover, a:focus {
    color: #069;
    font-weight: normal;
}
h1 a:hover, h1 a:focus {
    font-weight: bold;
}

header img {
    display: none !important;
}
